.grid-portfolio {
    width: 100vw;
    height: 74vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    font-size: 0.8em;
}

img {
    width: 75%;
    height: 23vh;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #f0eaea;

}

.portfolio_item:hover {

    background-color: rgba(199, 104, 104, 0);
    transition: 0.5s linear;
    transform: scale(0.9);
}

.tittle_portfolio {
    padding-top: 1%;
}


@media screen and (max-width:767px) {
    .grid-portfolio {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 3%;
        height: auto;
    }

    .portfolio_item {
        width: 100%;
        height: 30vh;
    }

    .tittle_portfolio {
        padding-top: 3%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .grid-portfolio {
        padding-top: 2%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .portfolio_item {
        width: 100%;
        height: 35vh;
    }

    .tittle_portfolio {
        padding-top: 3%;
    }

}